<div class="container top-30">


  <div class="row">
    <div class="col-md-3">
      <label for="termino">Buscador de artistas</label>
      <input type="text"
      [(ngModel)]="termino"
      (keyup)="buscarArtista()"
      name="termino" value=""
      class="form-control"
      placeholder="Buscar por artista">
      <hr>
    </div>
    <div class="col-md-9">
        <div class="row">
          <div class="col-md-3 puntero"
               *ngFor="let artista of search_artistas"
               [routerLink]="['/artista',artista.id]"
              >
              <img [src]="artista.images | noImage"  class="img-fluid img-thumbnail">
            <p class="badge">{{artista.name}}</p>
          </div>
        </div>

    </div>
  </div>

</div>
