<div class="row top-30">

  <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 offset-lg-1  offset-sm-1">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">


        <div class=" " style="">
          <h4 class="card-header black">{{artista.name}}</h4><br>
          <img class=" img-thumbnail img-circle" [src]="artista.images | noImage" alt="Card image cap">

          <div class="card-block">

            <div class="row top-30">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a [href]="artista.external_urls.spotify" target="_blank" class="btn btn-outline-success">Ver en
                  Spotify</a>

                <a [routerLink]="['/buscar']" class="btn btn-outline-primary">Regresar</a>
              </div>
            </div>
            <div class="row top-30" *ngIf="artista.genres.length != 0">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <span style="margin: 2px;" class="badge badge-pill badge-default" *ngFor="let genero of artista.genres">{{genero}}</span>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- artist info-->
      <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 ">
        <h4>Top tracks</h4>

        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Popularidad</th>
            <th>Preview</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let track of topTracks; let i=index;">
            <td>{{i+1}}</td>
            <td>
              {{track.name}}
            </td>
            <td>
              {{track.popularity}}%
            </td>
            <td><!--
              <audio controls>
                <source [src]="track.preview_url">
              </audio> -->
              <iframe [src]="track.uri|domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
            </td>
          </tr>
          </tbody>
        </table>




      </div>
    </div>
  </div>
</div>

<!--
<pre>
  {{artista |json}}
</pre>
-->
